.collapseAbout {
  margin: 30px 200px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .collapseAbout {
    margin: 20px;
    gap: 0px;
  }
}
