.aboutbanner {
  background-image: url(../assets/AboutBanner.png);
  background-size: cover;

  color: white;
  height: 223px;
  margin: 55px 100px 0;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
