.carrousel {
  position: relative;
  &__counter {
    position: absolute;
    bottom: 25px;
    left: 50%;
    color: white;
    font-weight: 500;
  }
  &__img {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  &__left {
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 20px;
  }
  &__right {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 20px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .carrousel {
    &__counter {
      font-size: 14px;
    }
    &__img {
      height: 255px;
      border-radius: 10px;
    }
    &__left,
    &__right {
      height: 19.8px;
      width: 11.67px;
      top: 45%;
    }
  }
}
