.collapse {
  width: 100%;
}
.collapse-container {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 16px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.collapse-container.closed {
  height: 48px; /* Initial height for closed state */
}

.collapse-container.open {
  height: auto; /* Full height for open state */
}

.collapse-header {
  background-color: #ff6060;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0px 20px 0px 10px;
  height: 52px;
  position: relative;
  cursor: pointer;
}

.collapse-title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.collapse-icon {
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
  /* Add styles for the arrow icon if needed */
  width: 24px; /* Adjust as needed */
  height: 24px; /* Adjust as needed */
  & img {
    height: 13.71px;
    width: 24px;
  }
}

.collapse-content {
  padding: 26px 30px 16px 30px;
  letter-spacing: 0.25px;
  line-height: 20px;
  margin-top: -10px;
  background-color: #f6f6f6;
  font-size: 18px;
}

.equipements {
  display: flex;
  flex-direction: column;
  line-height: 0;
  text-transform: unset;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0px;
  margin: 0;

  & li {
    font-size: 18px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .collapse-container.closed {
    height: 30px;
  }
  .collapse-header {
    height: 30px;
  }
  .collapse-title {
    font-size: 13px;
  }
  .collapse-icon img {
    height: 9.14px;
    width: 16px;
  }
  .collapse-content {
    font-size: 13px;
    padding: 23px 15px 13px 15px;
  }
  .equipements {
    & li {
      font-size: 13px;
    }
  }
}
