.flatContent {
  margin: 50px 100px 40px 100px;
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--text h1 {
      font-weight: 500;
      font-size: 36px;
      color: #ff6060;
      margin-bottom: 0px;
    }
    &--text p {
      font-size: 18px;
      font-weight: 500;
      margin: 5px 0px 20px 0px;
    }
    &--host {
      white-space: nowrap;
      text-align: right;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    &--collapse {
      display: flex;
      margin-top: 20px;
      gap: 70px;
    }
  }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .flatContent {
    margin: 30px 50px 20px 50px;
    &__info {
      &--collapse {
        gap: 50px;
      }
    }
  }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .flatContent {
    margin: 20px;
    &__info {
      flex-direction: column;
      &--text {
        width: 100%;
        margin-top: 5px;
      }
      &--text h1 {
        font-size: 18px;
        margin: 0;
        width: 100%;
      }
      &--text p {
        font-size: 14px;
        margin: 5px 0px 10px 0;
      }
      &--host {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &--name {
          font-size: 12px;
        }
      }
      &--collapse {
        margin-top: 10px;
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}
