.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo {
    width: 122px;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 5px;
    filter: brightness(0) invert(1);
  }
  &__text {
    color: white;
    font-size: 24px;
    margin: 26px 0;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .footer {
    &__logo {
      width: 122px;
      height: 39.44px;
    }
    &__text {
      font-size: 12px;
      width: 120px;
      text-align: center;
      margin: 10px 0px 40px 0px;
    }
  }
}
