.host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  &__name {
    font-weight: 500;
    color: #ff6060;
    font-size: 18px;
    width: 93px;
    text-align: right;
  }
  &__img {
    border-radius: 50%;
    height: 64px;
    width: 64px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .host {
    &__name {
      font-size: 12px;
    }
    &__img {
      height: 32px;
      width: 32px;
    }
  }
}
