.fa-solid {
  font-size: 18px;
  margin-right: 10px;

  &.filled {
    color: #ff6060;
  }
  &.empty {
    color: #e3e3e3;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .fa-solid {
    font-size: 14px;
  }
}
