.tags {
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
  & span {
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    padding: 3.5px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .tags {
    gap: 12px;
    & span {
      font-size: 10px;
      padding: 2px 18px;
      border-radius: 5px;
    }
  }
}
